* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.result {
  width: 220px;
  height: 300px;
  border: 2px solid blueviolet;
  border-radius: 12px;
  background-color: rgba(181, 190, 164, 0.267);
}

.result img {
  width: 100%;
  border-radius: 12px;
  height: 200px;
}
.nur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nur p {
  font-size: 26px;
}

.button {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 18px;
  align-items: center;
  background-color: aliceblue;
}
